<link href="styles/login.css" rel="stylesheet" media="screen">
<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Mapa Escolas<br/>Acceso</h2>
    <input type="text" class="input-block-level" placeholder="Usuario" autofocus>
    <input type="password" class="input-block-level" placeholder="Contraseña">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Recuerdame
    </label>
    <button class="btn btn-large btn-primary btn-block" type="submit">Ingresar</button>
  </form>
</div>